body{
    padding: 0px;
    margin: 0px;
    background-color:#f0f4fc;
}

html{
    padding: 0px;
    margin: 0px;
}

#app{
    margin: 0px;
    padding: 0px;
}

/* 禁止水平方向滚动 */
html, body {
  overflow-x: hidden; 
}