<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tvsos.mapper.CategoryMapper">
    <select id="findById" parameterType="java.lang.Long" resultType="entity.Category">
        SELECT
            *
        FROM
            category
        WHERE
            id = #{categoryId}
    </select>

    <select id="findByCargoId" parameterType="java.lang.Long" resultType="entity.Category">
        SELECT
            c.*
        FROM
            category c
                JOIN cargo cg ON cg.category_id = c.id
        WHERE
            cg.id = #{cargoId}
    </select>
</mapper>
